ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    margin: 0;
    padding: 0;
	position: 
}
li, a {
    float: left;
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 18px;
}
li {
    padding: 0;
    display: inline;
}
li:hover:not(.aktiv) {
    background-color: #111;
}
.aktiv {
    background-color: #05c46b;
    color: black;
}
body {
	background-image:url("https://cdna.artstation.com/p/assets/images/images/001/113/092/large/massimo-verona-serenity-bay-sm.jpg?1440358383");
	font-family: 'Open Sans', sans-serif;
}
.border {
	border: 3px solid white;
	background-color: #fffff;
	margin-right: 50px;
	margin-left: 50px;
	height: 100%;
}
.wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-rows:100vh;
	grid-template-comlumns: 1fr 1fr 1fr;
	grid-template-areas:
	"header header header"
	"sidebar content content"
	"footer footer footer";
	color: #444;
	background-color: rgba(255,255,255,0.9);
	margin: 0 250px;
}
.header {
	grid-area: header;
	text-align: center;
}
.sidebar {
	grid-area: sidebar;
}
.content {
	grid-area: content;
	position: relative;
}
.footer {
	grid-area: footer;
}
.topleft {
	position: absolute;
	top: 0;
	left: 0;
}
.topright {
  position: absolute;
  top: 0;
  right: 0;
}
.bottomleft {
  position: absolute;
  bottom: 0;
  left: 0;
}
.bottomright {
  position: absolute;
  bottom: 0;
  right: 0;
}