ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    margin: 0;
    padding: 0;
	position: absolute; top: 0; left: 0; right: 0;
}
li, a {
    float: left;
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 18px;
}
li {
    padding: 0;
    display: inline;
}
li:hover:not(.aktiv) {
    background-color: #111;
}
.aktiv {
    background-color: #05c46b;
    color: black;
}
body {
	background-image:url("https://cdna.artstation.com/p/assets/images/images/001/113/092/large/massimo-verona-serenity-bay-sm.jpg?1440358383")
}